doctype html
html
  head
    title Rajesh Style
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | RDA
            li #[a(href="/") Home]
            li #[a(href="/contact") Contact Us]   
    block content
    footer#footer
        | Rajesh Website &copy 2021 | All rights reserved. 