extends base.pug

block scripts
  

block style
    style
      include ../static/style.css

block content
    section#introSection
        div   Welcome To Dance Academy
        div.small Eat Sleep Dance Repeat

    section#missionSection
        h2   Our Mission
        div.card
            h3 Dance Perfection 
            div.card-box
                div.card-img
                    img(src="/static/img/1.png")

                div.card-content
                     p Dance academy 
        div.card
            h3 Dance
            div.card-box
                div.card-img
                    img(src="/static/img/2.png")

                div.card-content
                     p Dance academy 
        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/img/3.png")

                div.card-content
                     p Dance academy 
        


